.main{
    height: fit-content;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;


}
.card{
    height: fit-content;
    width: 600px;
    background-color: #203A43;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
    row-gap: 25px;
}
img{
    cursor: pointer;
    border-radius: 15px;
}

#score{
    display: flex;
    column-gap: 20px;
}
